[submodule "utils"]
	path = utils
	url = https://github.com/AIoT-IST/jetson-utils
	branch = Branch_video_file_source
[submodule "tools/camera-capture"]
	path = tools/camera-capture
	url = https://github.com/AIoT-IST/tools/camera-capture
	branch = master
[submodule "python/training/classification"]
	path = python/training/classification
	url = https://github.com/AIoT-IST/pytorch-classification
	branch = master
[submodule "python/training/detection"]
	path = python/training/detection
	url = https://github.com/AIoT-IST/pytorch-detection
	branch = master
[submodule "python/training/segmentation"]
	path = python/training/segmentation
	url = https://github.com/AIoT-IST/pytorch-segmentation
	branch = master